/.idea/.gitignore
/prac_07/.gitignore
/prac_07/anchor_layout.kv
/prac_07/anchor_layout_demo.py
/prac_07/basic_graphics_demo.py
/prac_07/board_game.py
/prac_07/box_layout.kv
/prac_07/box_layout_demo.py
/prac_07/button_event.kv
/prac_07/button_event_demo.py
/prac_07/clock_demo.kv
/prac_07/clock_demo.py
/prac_07/clock_demo2.kv
/prac_07/clock_demo2.py
/prac_07/convert_m_km_solution.kv
/prac_07/convert_m_to_km_solution.py
/.idea/CP1404_2021.iml
/prac_07/dynamic_widgets.kv
/prac_07/dynamic_widgets.py
/prac_07/falling_drawing.kv
/prac_07/falling_drawing.py
/prac_07/float_layout.kv
/prac_07/float_layout_demo.py
/prac_07/game_v1.kv
/prac_07/game_v1.py
/prac_07/game_v2.kv
/prac_07/game_v2.py
/prac_07/grid_layout.kv
/prac_07/grid_layout_demo.py
/prac_07/guitar.py
/prac_07/guitars_app.kv
/prac_07/guitars_app.py
/prac_07/hello_kv.py
/prac_07/hello_world.py
/prac_07/hints_demo.kv
/prac_07/hints_demo.py
/prac_07/id_demo.kv
/prac_07/id_demo.py
/prac_07/label.kv
/prac_07/label_demo.py
/.idea/misc.xml
/.idea/modules.xml
/prac_07/mouse_drawing.py
/prac_07/mvc.kv
/prac_07/mvc_demo.py
/prac_07/play_game_console.py
/prac_07/popup_demo.kv
/prac_07/popup_demo.py
/.idea/inspectionProfiles/profiles_settings.xml
/prac_07/quick_sum_app.py
/prac_07/quick_sum_gui.kv
/prac_07/simple_animation_demo.kv
/prac_07/simple_animation_demo.py
/prac_07/size_and_position_demo.py
/prac_07/size_position.kv
/prac_07/spinner_demo.kv
/prac_07/spinner_demo.py
/prac_07/squaring.kv
/prac_07/squaring.py
/.idea/dictionaries/Tiffany.xml
/.idea/vcs.xml
/prac_07/widget.kv
.idea/